.cards{
    display: grid;
    grid-template:  repeat(auto-fit, minmax(150px, 1fr)) / repeat(auto-fit, minmax(150px, 1fr)) ;
    column-gap: 80px;
    row-gap: 16px;
    padding: 1em;
}

.header{
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #ff4655;
}

.score{
    font-size: 1.3rem;
}